﻿
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2018 <a href="https://localhost:44334/">Spro</a>.</strong> All rights
    reserved.
</footer>
