﻿@inject Company.WebApplication1.Services.Profile.ProfileManager ProfileManager

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@ProfileManager.CurrentUser.UserName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">PANEL DE NAVEGACIÓN</li>
            <li class="treeview @(Html.IsMenuActive("/Dashboards") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Administración General</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Dashboards/Dashboard1") ? "active" : "")"><a href="#" id="ver_usuarios"><i class="fa fa-circle-o"></i> Usuarios</a></li>
                    <!-- <li class="@(Html.IsMenuActive("/Dashboards/Dashboard2") ? "active" : "")"><a href="~/Dashboards/Dashboard2"><i class="fa fa-circle-o"></i> Dashboard v2</a></li> -->
                </ul>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Dashboards") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Administrar Proyectos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Dashboards/Dashboard1") ? "active" : "")"><a href="#" id="ver_proyectos"><i class="fa fa-circle-o"></i>Todos los Proyectos</a></li>
                    <li class="@(Html.IsMenuActive("/Dashboards/Dashboard1") ? "active" : "")"><a href="#" id="ver_sprints"><i class="fa fa-circle-o"></i>Todos los Sprints</a></li>
                    <!-- <li class="@(Html.IsMenuActive("/Dashboards/Dashboard2") ? "active" : "")"><a href="~/Dashboards/Dashboard2"><i class="fa fa-circle-o"></i> Dashboard v2</a></li> -->
                </ul>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Settings") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span>Settings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Settings/Profile") ? "active" : "")"><a href="~/Settings/Profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li class="@(Html.IsMenuActive("/Settings/Account") ? "active" : "")"><a href="~/Settings/Account"><i class="fa fa-lock"></i> Account</a></li>
                    <li class="@(Html.IsMenuActive("/Settings/Security") ? "active" : "")"><a href="~/Settings/Security"><i class="fa fa-user-secret"></i> Security</a></li>
                    <li class="@(Html.IsMenuActive("/Settings/History") ? "active" : "")"><a href="~/Settings/History"><i class="fa fa-history"></i> History</a></li>
                </ul>
            </li>
            <!--      <li class="treeview @(Html.IsMenuActive("/Layouts") ? "active" : "")">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="pull-right-container">
                <span class="label label-primary pull-right">4</span>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="../layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="../layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="../layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="../layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
        </ul>
    </li>
    <li class="@(Html.IsMenuActive("/Widgets") ? "active" : "")">
        <a href="~/Widgets">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <span class="pull-right-container">
                <small class="label pull-right bg-green">Hot</small>
            </span>
        </a>
    </li>
    <li class="treeview @(Html.IsMenuActive("/Charts") ? "active" : "")">
        <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(Html.IsMenuActive("/Charts/ChartJS") ? "active" : "")"><a href="~/Charts/ChartJS"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li class="@(Html.IsMenuActive("/Charts/Morris") ? "active" : "")"><a href="~/Charts/Morris"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li class="@(Html.IsMenuActive("/Charts/Flot") ? "active" : "")"><a href="~/Charts/Flot"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li class="@(Html.IsMenuActive("/Charts/Inline") ? "active" : "")"><a href="~/Charts/Inline"><i class="fa fa-circle-o"></i> Inline charts</a></li>
        </ul>
    </li>
    <li class="treeview @(Html.IsMenuActive("/UI") ? "active" : "")">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(Html.IsMenuActive("/UI/General") ? "active" : "")"><a href="~/UI/General"><i class="fa fa-circle-o"></i> General</a></li>
            <li class="@(Html.IsMenuActive("/UI/Icons") ? "active" : "")"><a href="~/UI/Icons"><i class="fa fa-circle-o"></i> Icons</a></li>
            <li class="@(Html.IsMenuActive("/UI/Buttons") ? "active" : "")"><a href="~/UI/Buttons"><i class="fa fa-circle-o"></i> Buttons</a></li>
            <li class="@(Html.IsMenuActive("/UI/Sliders") ? "active" : "")"><a href="~/UI/Sliders"><i class="fa fa-circle-o"></i> Sliders</a></li>
            <li class="@(Html.IsMenuActive("/UI/Timeline") ? "active" : "")"><a href="~/UI/Timeline"><i class="fa fa-circle-o"></i> Timeline</a></li>
            <li class="@(Html.IsMenuActive("/UI/Modals") ? "active" : "")"><a href="~/UI/Modals"><i class="fa fa-circle-o"></i> Modals</a></li>
        </ul>
    </li>
    <li class="treeview @(Html.IsMenuActive("/Forms") ? "active" : "")">
        <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(Html.IsMenuActive("/Forms/General") ? "active" : "")"><a href="~/Forms/General"><i class="fa fa-circle-o"></i> General Elements</a></li>
            <li class="@(Html.IsMenuActive("/Forms/Advanced") ? "active" : "")"><a href="~/Forms/Advanced"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
            <li class="@(Html.IsMenuActive("/Forms/Editors") ? "active" : "")"><a href="~/Forms/Editors"><i class="fa fa-circle-o"></i> Editors</a></li>
        </ul>
    </li>
    <li class="treeview @(Html.IsMenuActive("/Tables") ? "active" : "")">
        <a href="#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(Html.IsMenuActive("/Tables/Simple") ? "active" : "")"><a href="~/Tables/Simple"><i class="fa fa-circle-o"></i> Simple tables</a></li>
            <li class="@(Html.IsMenuActive("/Tables/DataTable") ? "active" : "")"><a href="~/Tables/DataTable"><i class="fa fa-circle-o"></i> Data tables</a></li>
        </ul>
    </li>
    <li class="@(Html.IsMenuActive("/Calendar") ? "active" : "")">
        <a href="~/Calendar">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <span class="pull-right-container">
                <small class="label pull-right bg-red">3</small>
                <small class="label pull-right bg-blue">17</small>
            </span>
        </a>
    </li>
    <li class="treeview @(Html.IsMenuActive("/Mail") ? "active" : "")">
        <a href="~/Mail/Inbox">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
                <small class="label pull-right bg-yellow">12</small>
                <small class="label pull-right bg-green">16</small>
                <small class="label pull-right bg-red">5</small>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(Html.IsMenuActive("/Mail/Inbox") ? "active" : "")">
                <a href="~/Mail/Inbox">
                    Inbox
                    <span class="pull-right-container">
                        <span class="label label-primary pull-right">13</span>
                    </span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/Mail/Compose") ? "active" : "")"><a href="~/Mail/Compose">Compose</a></li>
            <li class="@(Html.IsMenuActive("/Mail/Read") ? "active" : "")"><a href="~/Mail/Read">Read</a></li>
        </ul>
    </li>
    <li class="treeview @(Html.IsMenuActive("/Examples") ? "active" : "")">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@(Html.IsMenuActive("/Examples/Invoice") ? "active" : "")"><a href="~/Examples/Invoice"><i class="fa fa-circle-o"></i> Invoice</a></li>
            <li class="@(Html.IsMenuActive("/Examples/Profile") ? "active" : "")"><a href="~/Examples/Profile"><i class="fa fa-circle-o"></i> Profile</a></li>
            <li class="@(Html.IsMenuActive("/Examples/Page404") ? "active" : "")"><a href="~/Examples/Page404"><i class="fa fa-circle-o"></i> 404 Error</a></li>
            <li class="@(Html.IsMenuActive("/Examples/Page500") ? "active" : "")"><a href="~/Examples/Page500"><i class="fa fa-circle-o"></i> 500 Error</a></li>
            <li class="@(Html.IsMenuActive("/Examples/Blank") ? "active" : "")"><a href="~/Examples/Blank"><i class="fa fa-circle-o"></i> Blank Page</a></li>
            <li class="@(Html.IsMenuActive("/Examples/Pace") ? "active" : "")"><a href="~/Examples/Pace"><i class="fa fa-circle-o"></i> Pace Page</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Level One
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Level Two
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
        </ul>
    </li>
    <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>-->
            <!--          <li class="header">LABELS</li>
    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>-->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>