﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Página principal";
}

<!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div id="contenedor-principal"> </div>
    <!-- Default box -->
    <!-- Formulario-->
    <div class="modal fade" id="Modalform" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Usurio</h4>
                </div>
                <div class="modal-body" style="padding:0px;margin-left: 20px;margin-right: 20px;margin-top: 20px;margin-bottom: 20px;border-bottom-width: 20px;height: 265px;">
                    AQUI IRAN LOS CAMPOS
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalUser" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Usurio</h4>
                </div>
                <div class="modal-body check" style="padding:0px;margin-left: 20px;margin-right: 20px;margin-top: 20px;margin-bottom: 20px;border-bottom-width: 20px;height: 265px;">
                    <form method="post" id="formuser">
                        <div class="form-group has-feedback">
                            <input asp-for="Input.FullName" type="text" class="form-control" placeholder="Nombre completo">
                            <span asp-validation-for="Input.FullName" class="help-block"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Input.Email" class="help-block"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Contraseña">
                            <span asp-validation-for="Input.Password" class="help-block"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Repita la contraseña">
                            <span asp-validation-for="Input.ConfirmPassword" class="help-block"></span>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <div class="form-group has-feedback">
                            <div class="row">
                                    <button type="submit" id="btn-user" class="btn pull-right">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
 {
    <script>
        var currenturl = '';
        
        $(document).ready(function () {
            currenturl = window.location.href;
            console.log(currenturl);
            if (currenturl.includes("Index"))
                $("#ver_usuarios").trigger("click");
           
        });
    </script>
}
<!-- /.content -->