﻿<form method="post" id="pro-form">
    <div class="form-group col-sm-12">
        <label for="id_pro">Identificador</label>
        <input type="text" id="id_pro" class="form-control" name="id_pro" disabled>
    </div>

    <div class="form-group col-sm-12">
        <label for="name_pro">Nombre proyecto</label>
        <input type="text" id="name_pro" class="form-control" name="name_pro">
    </div>

    <div class="form-group col-sm-12">
        <label for="fecha_inicio">Fecha Inicio</label>
        <input type="text" id="fecha_inicio" class="form-control" name="fecha_inicio">
    </div>

    <div class="form-group col-sm-12">
        <label for="fecha_fin">Fecha Fin</label>
        <input type="text" id="fecha_fin" class="form-control" name="fecha_fin">
    </div>

    <div class="form-group col-sm-12">
        <label for="descrip_pro">Descripcion</label>
        <textarea name="descrip_pro" id="descrip_pro" class="form-control" placeholder="descripción de proyecto..."></textarea>
    </div>

</form>