﻿<div class="box box-primary panel-proceso" id="cabecera-sprint" style="margin-bottom: 5px;">
    <div class="box-header with-border">
        <h3 class="box-title">Sprint</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

        </div>
    </div>
    <div class="box-body" style="padding:0px">

        <div class="col-sm-12" style="padding-bottom:10px;">
            <button type="submit" id="btn-update-spr" class="btn pull-right"><i class="fa fa-save"></i> Guardar</button>
            <button type="submit" id="cancelar-spr" class="btn pull-right">Cancelar</button>
        </div>

    </div>
</div>

<div class="box box-primary panel-proceso" id="grilla-sprint-backlog" style="margin-bottom: 5px;">
    <div class="box-header with-border">
        <h3 class="box-title">Sprints Backlogs</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="padding:0px;"></div>
</div>