﻿<form method="post" id="sprint-form">
    <div class="form-group col-sm-12">
        <label for="id_spr">Identificador</label>
        <input type="text" id="id_spr" class="form-control" name="id_spr" disabled>
    </div>

    <div class="form-group col-sm-12">
        <label for="name_sprint">Nombre Sprint</label>
        <input type="text" id="name_sprint" class="form-control" name="name_sprint">
    </div>

    <div class="form-group col-sm-12">
        <label for="fecha_inicio_spr">Fecha Inicio</label>
        <input type="text" id="fecha_inicio_spr" class="form-control" name="fecha_inicio_spr">
    </div>

    <div class="form-group col-sm-12">
        <label for="fecha_fin_spr">Fecha Fin</label>
        <input type="text" id="fecha_fin_spr" class="form-control" name="fecha_fin_spr">
    </div>

    <div class="form-group col-sm-12">
        <label for="descrip_spr">Descripcion</label>
        <textarea name="descrip_spr" id="descrip_spr" class="form-control" placeholder="descripción de sprint..."></textarea>
    </div>

</form>