﻿<form method="post" id="sb-form">
    <div class="form-group col-sm-12">
        <label for="id_sb">Identificador</label>
        <input type="text" id="id_sb" class="form-control" name="id_sb" disabled>
    </div>
   
    <div class="form-group col-sm-12">
        <label for="us_sb" class="control-label">User History</label>
        <select name="us_sb" class="form-control"></select>
        <input type="hidden" id="id_tarea" value="">
        <input type="hidden" id="id_estado" value="">
    </div>

    <div class="form-group col-sm-12">
        <label for="asignado_sb" class="control-label">Asignado</label>
        <select name="asignado_sb" class="form-control"></select>
        <input type="hidden" id="id_asignado" value="">
    </div>

    <div class="form-group col-sm-12">
        <label for="tiempo_estimado_sb">Tiempo estimado</label>
        <input type="text" id="tiempo_estimado_sb" class="form-control" name="tiempo_estimado_sb">
    </div>

    <div class="form-group col-sm-12">
        <label for="fecha_inicio_sb">Fecha Inicio</label>
        <input type="text" id="fecha_inicio_sb" class="form-control" name="fecha_inicio_sb">
    </div>

    <div class="form-group col-sm-12">
        <label for="fecha_fin_sb">Fecha Fin</label>
        <input type="text" id="fecha_fin_sb" class="form-control" name="fecha_fin_sb">
    </div>

    <div class="form-group col-sm-12">
        <label for="descrip_sb">Descripcion</label>
        <textarea name="descrip_sb" id="descrip_sb" class="form-control"></textarea>
    </div>

</form>