﻿<form method="post" id="us-form">
    <div class="form-group col-sm-12">
        <label for="id_pro">Identificador</label>
        <input type="text" id="id_us" class="form-control" name="id_us" disabled>
    </div>

    <div class="form-group col-sm-12">
        <label for="name_pro">Título</label>
        <input type="text" id="titulo_us" class="form-control" name="titulo_us">
    </div>

    <div class="form-group col-sm-12">
        <label for="fecha_inicio">Tiempo estimado</label>
        <input type="text" id="tiempo_estimado" class="form-control" name="tiempo_estimado">
    </div>


    <div class="form-group col-sm-12">
        <label for="descrip_pro">Descripcion</label>
        <textarea name="descrip_us" id="descrip_us" class="form-control" placeholder="descripción de historia de usuario..."></textarea>
    </div>

</form>