﻿<form method="post">
    <div class="form-group col-sm-12">
        <label for="id_user">Identificador</label>
        <input type="text" id="id_user" class="form-control" name="id" disabled >
    </div>

    <div class="form-group col-sm-12">
        <label for="nombrecompleto">Nombre completo</label>
        <input type="text" id="name_user" class="form-control" name="nombrecompleto">
    </div>

    <div class="form-group col-sm-12">
        <label for="email">Email</label>
        <input type="text" id="email_user" class="form-control" name="email">
    </div>


    <div class="form-group col-sm-12">
        <button type="button" id="btn-update" class="btn pull-right">Guardar</button>
    </div>
</form>