﻿.jsgrid {
    position: relative;
    overflow: hidden;
    font-size: 1em;
}

.jsgrid, .jsgrid *, .jsgrid *:before, .jsgrid *:after {
    box-sizing: border-box;
}

.jsgrid input,
.jsgrid textarea,
.jsgrid select {
    font-size: 1em;
}

.jsgrid-grid-header {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.jsgrid-grid-body {
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.jsgrid-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 2px;
}

.jsgrid-cell {
    padding: 2px;
}

.jsgrid-сell,
.jsgrid-header-cell {
    box-sizing: border-box;
}

.jsgrid-align-left {
    text-align: left;
}

.jsgrid-align-center,
.jsgrid-align-center input,
.jsgrid-align-center textarea,
.jsgrid-align-center select {
    text-align: center;
}

.jsgrid-align-right,
.jsgrid-align-right input,
.jsgrid-align-right textarea,
.jsgrid-align-right select {
    text-align: right;
}

.jsgrid-header-cell {
    padding: .5em .5em;
}

.jsgrid-filter-row input,
.jsgrid-filter-row textarea,
.jsgrid-filter-row select,
.jsgrid-edit-row input,
.jsgrid-edit-row textarea,
.jsgrid-edit-row select,
.jsgrid-insert-row input,
.jsgrid-insert-row textarea,
.jsgrid-insert-row select {
    width: 100%;
    padding: .3em .5em;
}

.jsgrid-filter-row input[type='checkbox'],
.jsgrid-edit-row input[type='checkbox'],
.jsgrid-insert-row input[type='checkbox'] {
    width: auto;
}


.jsgrid-selected-row .jsgrid-cell {
    cursor: pointer;
}

.jsgrid-nodata-row .jsgrid-cell {
    padding: .5em 0;
    text-align: center;
}

.jsgrid-header-sort {
    cursor: pointer;
}

.jsgrid-pager {
    height:40px;
}

.jsgrid-pager-nav-button {
    padding: .2em .6em;
}

.jsgrid-pager-nav-inactive-button {
    display: none;
    pointer-events: none;
}

.jsgrid-pager-page {
    padding: .2em .6em;
}

/***************************************************************************************************************/

.jsgrid-grid-header,
.jsgrid-grid-body,
.jsgrid-header-row > .jsgrid-header-cell,
.jsgrid-filter-row > .jsgrid-cell,
.jsgrid-insert-row > .jsgrid-cell,
.jsgrid-edit-row > .jsgrid-cell {
    /*border: 1px solid #e9e9e9;*/
}

.jsgrid-header-row > .jsgrid-header-cell { border-top: 0; }

.jsgrid-header-row > .jsgrid-header-cell,
.jsgrid-filter-row > .jsgrid-cell,
.jsgrid-insert-row > .jsgrid-cell {
    border-bottom: 0;
}

.jsgrid-header-row > .jsgrid-header-cell:first-child,
.jsgrid-filter-row > .jsgrid-cell:first-child,
.jsgrid-insert-row > .jsgrid-cell:first-child {
    border-left: none;
}

.jsgrid-header-row > .jsgrid-header-cell:last-child,
.jsgrid-filter-row > .jsgrid-cell:last-child,
.jsgrid-insert-row > .jsgrid-cell:last-child {
    border-right: none;
}

.jsgrid-header-row .jsgrid-align-right,
.jsgrid-header-row .jsgrid-align-left {
    text-align: center;
}

.jsgrid-grid-header { /*background: #f9f9f9;*/ }

.jsgrid-header-scrollbar {
    scrollbar-arrow-color: #f1f1f1;
    scrollbar-base-color: #f1f1f1;
    scrollbar-3dlight-color: #f1f1f1;
    scrollbar-highlight-color: #f1f1f1;
    scrollbar-track-color: #f1f1f1;
    scrollbar-shadow-color: #f1f1f1;
    scrollbar-dark-shadow-color: #f1f1f1;
}

.jsgrid-header-scrollbar::-webkit-scrollbar {
    visibility: hidden;
}

.jsgrid-header-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.jsgrid-header-sortable:hover {
    cursor: pointer;
    background: #fcfcfc;
}

.jsgrid-header-sort:before {
    content: " ";
    display: block;
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
}

.jsgrid-header-sort-asc:before {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #009a67 transparent;
}

.jsgrid-header-sort-desc:before {
    border-width: 5px 5px 0 5px;
    border-color: #009a67 transparent transparent transparent;
}

.jsgrid-grid-body {
    border-top: none;
}

.jsgrid-cell {
    border: #f3f3f3 1px solid;
}

.jsgrid-grid-body .jsgrid-row:first-child .jsgrid-cell,
.jsgrid-grid-body .jsgrid-alt-row:first-child .jsgrid-cell {
    /*border-top: none;*/
}

.jsgrid-grid-body .jsgrid-cell:first-child {
    border-left: none;
}

.jsgrid-grid-body .jsgrid-cell:last-child {
    border-right: none;
}

.jsgrid-row > .jsgrid-cell {
    background: #fff;
}

.jsgrid-alt-row > .jsgrid-cell {
    background: #fcfcfc;
}

.jsgrid-header-row > .jsgrid-header-cell {
    /*
    background: black;
    color: white;
    height: 55px;
    */
    background: #c3c3c3;
    color: #000000;
    height: 45px;
    text-align: center;
}

.jsgrid-header-cell.jsgrid-control-field{
	background-color:white;
	padding-left:0px;
	padding-right:0px;
	/*max-width:35px;*/
}

.jsgrid-cell.jsgrid-control-field{
	padding-left:0px;
	padding-right:0px;
	background-color:white;
	/*max-width:35px;*/
	border:none;
}

.jsgrid-header-row .jsgrid-header-sort {
    background: #ADADAD;
	color:black;
}

.jsgrid-filter-row > .jsgrid-cell {
    background: #FFFFFF;
}

.jsgrid-insert-row > .jsgrid-cell {
    background: #e3ffe5;
}

.jsgrid-edit-row > .jsgrid-cell {
    background: #fdffe3;
}

.jsgrid-selected-row > .jsgrid-cell {
    background: #c4e2ff;
    border-color: #c4e2ff;
}

.jsgrid-nodata-row > .jsgrid-cell {
    background: #fff;
}

.jsgrid-invalid input,
.jsgrid-invalid select,
.jsgrid-invalid textarea {
    background: #ffe3e5;
    border: 1px solid #ff808a;
}

.jsgrid-pager-current-page {
    font-weight: bold;
}

.jsgrid-pager-nav-inactive-button a {
    color: #d3d3d3;
}

.jsgrid-button + .jsgrid-button {
    margin-left: 5px;
}

.jsgrid-button:hover {
    opacity: .5;
    transition: opacity 200ms linear;
}

.jsgrid .jsgrid-button {
    width: 16px;
    min-width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    background-image: url(icons.png);
    background-repeat: no-repeat;
    background-color: transparent;
}

.jsgrid .jsgrid-mode-button {
    width: 24px;
    height: 24px;
}

.jsgrid-mode-on-button {
    opacity: .5;
}

.jsgrid-cancel-edit-button { background-position: 0 0; width: 16px; height: 16px; }
.jsgrid-clear-filter-button { background-position: 0 -40px; width: 16px; height: 16px; }
.jsgrid-delete-button { background-position: 0 -80px; width: 16px; height: 16px; }
.jsgrid-edit-button { background-position: 0 -120px; width: 16px; height: 16px; }
.jsgrid-insert-mode-button { background-position: 0 -160px; width: 24px; height: 24px; }
.jsgrid-insert-button { background-position: 0 -208px; width: 16px; height: 16px; }
.jsgrid-search-mode-button { background-position: 0 -248px; width: 24px; height: 24px; }
.jsgrid-search-button { background-position: 0 -296px; width: 16px; height: 16px; }
.jsgrid-update-button { background-position: 0 -336px; width: 16px; height: 16px; }


.jsgrid-load-shader {
    background: #ddd;
    opacity: .5;
    filter: alpha(opacity=50);
}

.jsgrid-load-panel {
    width: 15em;
    height: 5em;
    background: #fff;
    border: 1px solid #e9e9e9;
    padding-top: 3em;
    text-align: center;
}

.jsgrid-load-panel:before {
    content: ' ';
    position: absolute;
    top: .5em;
    left: 50%;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    border: 2px solid #009a67;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: indicator 1s linear infinite;
    animation: indicator 1s linear infinite;
}

@-webkit-keyframes indicator
{
    from { -webkit-transform: rotate(0deg); }
    50%  { -webkit-transform: rotate(180deg); }
    to   { -webkit-transform: rotate(360deg); }
}

@keyframes indicator
{
    from { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    to   { transform: rotate(360deg); }
}

/* old IE */
.jsgrid-load-panel {
    padding-top: 1.5em\9;
}
.jsgrid-load-panel:before {
    display: none\9;
}

.jsgrid-pager-container{
	background-color:#CECECE;
	margin-bottom:1px;
}

/*******************************************************************************************************/

.previo, .posterior {
    font-size: 30px;
    text-decoration: none;
}

a.previo:hover, a.posterior:hover, a.previo:focus, a.posterior:focus {
    color: #337ab7;
    text-decoration: none;
}

a.previo:visited, a.posterior:visited {
    color: #337ab7;
}

a.pag_desk:visited {
    color: white;
}

.pag_desk {
    display: inline-block;
    padding: 6px 12px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
	height:36px;
	/*width:9%;*/
	margin-top:2px;
	background-color:black;
    color: white;
    text-decoration: none;
	margin-left:2px;
	margin-right:2px;
}

.pag_desk:hover,.pag_desk:focus{
	background-color: #848484;
	color: white;
	text-decoration:none;
	outline:none;
	border: 2px solid black;
}

.posterior{float:right;}

th.col0, td.col0 {
    background-color: white;
    width: 35px;
    min-width: 35px;
}

th.col0 {
    background-image: none;
    cursor: auto;
}

th.col0 button.btn-default, td.col0 button.btn-default {
    background-color: white;
    width: 35px;
    min-width: 35px;
}

.btn_add_new, .btn_ver_detalle {
    padding: 0px;
    min-width: 30px;
}

.btn_add_new img, .btn_ver_detalle img {
    width: 30px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .jsgrid .jsgrid-button {
        background-image: url(icons-2x.png);
        background-size: 24px 352px;
    }

	.jsgrid-header-cell.jsgrid-control-field{
		//width:30px;
	}

	.jsgrid-cell.jsgrid-control-field{
		//width:30px;
	}

}
